.branches-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5vw;
  row-gap: 2rem;
  margin-bottom: 2rem;
}
.branches-card > * {
}
.ui.card.card1:first-child {
  margin-top: 1em;
}
.ui.card.card1:last-child {
  margin-bottom: 1em;
}
.ui.card.card1 {
}
@media only screen and (max-width: 1000px) {
  .branches-card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 650px) {
  .branches-card {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}
