.ui.card1.card > .content,
.ui.cards > .card.card1 > .content {
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}
.ui.card.card1 > .content > .description {
  font-size: 0.9rem;
}
.ui.card.card1 > .image > img {
  max-height: 12rem;
}

/* .ui.cards > .teal.card.card1,
  .ui.cards.card1 > .teal.card:hover {
    box-shadow: 0 0 0 1px #d4d4d5, 0 6px 0 0 #75c2be, 0 1px 3px 0 #d4d4d5;
  } */
.ui.cards > .card.card1,
.ui.cards > .card.card1:hover {
  border-bottom: 4px solid var(--lightg);
}
.ui.card.card1,
.ui.card.card1:hover {
  border-bottom: 4px solid var(--lightg);
  width: 100%;
  font-size: 0.9rem;
  max-height: 25rem;
}
@media only screen and (max-width: 900px) {
  .ui.card.card1,
  .ui.card.card1:hover {
    font-size: 0.9rem;
  }
  .ui.card.card1 > .image > img {
    max-height: 18rem;
  }
  .ui.card.card1 > .content > .description {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 650px) {
  .ui.card.card1,
  .ui.card.card1:hover {
    font-size: 1.5rem;
  }
  .ui.card.card1 > .image > img {
    max-height: 18rem;
  }
  .ui.card.card1 > .content > .description {
    font-size: 1.3rem;
  }
}
