.cwi-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}
.cwi-content {
  width: 60%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}
.cwi-image {
  width: 40%;
  object-fit: cover;
  max-height: 23rem;
}
.cwi-para {
  padding-top: 3rem;
  /* border: 1px solid black; */
}

.cwi-para p {
  line-height: 1.7rem;
}
.cwi-head {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  color: #6b6b6b;
  /* border: 1px solid black; */
}
