.experience-two-wrapper {
  margin: 4rem 0rem;
}

.experience-two-header {
  font-size: 1.25rem;
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-two-all,
.experience-two-all:hover {
  color: var(--darkg);
}

@media only screen and (max-width: 467px) {
  .experience-two-header {
    flex-direction: column;
  }
  .experience-two-all {
    margin-top: 0.6rem;
  }
}
