.ui.styled.accordion,
.ui.styled.accordion .accordion {
  background: var(--lightg);
}
.ui.styled.accordion .title,
.ui.styled.accordion .accordion .title {
  margin: 0rem;
  padding: 1rem 2.75rem;
  color: #333333;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  transition: background 0.1s ease, color 0.1s ease;
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
}




.ui.styled.accordion .active.content,
.ui.styled.accordion .accordion .active.content {
  display: block;
  background: #F5ECEC;
  color: #666666;
  padding: 2.75rem;
  font-family: "Noto Sans";
  font-size: 1rem;
  line-height: 1.5rem;
}
.ui.styled.accordion .active.title,
.ui.styled.accordion .accordion .active.title {
    background: #EF9797;
    color: white;
}


.ui.accordion .title .dropdown.icon,
.ui.accordion .accordion .title .dropdown.icon {
  display: inline-block;
  float: right;
}
