.nav-container {
  max-width: 1440px;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.logo-wrapper {
  width: 178px;
}

.top .ui.button.button {
  border: 2px;
  padding: 0.8rem 2rem;
}
