html {
  background-color: #ffffff;
  font-size: 15px !important;
  box-sizing: border-box;
}
:root {
  --lightg: #75c2be;
  --darkg: #498b88;
  --darkp: #e29a9a;
}
.text {
  font-family: "Noto Sans" !important;
}

.headings {
  font-family: "Poppins" !important;
}

.light-color-head {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--lightg);
}
.dark-color-head {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--darkg);
}
