html {
  background-color: #ffffff;
  font-size: 15px !important;
  box-sizing: border-box;
}

.text {
  font-family: "Noto Sans" !important;
}

.headings {
  font-family: "Poppins" !important;
}

body:not(.full) {
  max-width: 80vw;
  margin: auto !important;
}
.light-color-head {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #75c2be;
}
.dark-color-head {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #75c2be;
}
