body {
}
.home2-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 1rem 0 1rem 0;

  /* border: 1px solid black; */
}
.home2-container {
  max-width: 80vw;
  margin: auto;
}
.home2-heading {
}
.home2-cards {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  /* padding: 0rem 10rem 2rem 10rem; */
}
.home2-bottom > * {
  /* border: 1px solid black; */
  max-width: 45%;
  height: 20rem;
}
.home2-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.home2-cards > *:not(:first-child) {
  padding-left: 3rem;
}
@media only screen and (max-width: 650px) {
  .home2-cards {
    flex-direction: column;
  }
  .home2-cards > * {
    padding: 0 0 2rem 0 !important;
  }
  .home2-bottom {
    display: none;
  }
}

.image-gallery-image {
  height: 100%;
  object-fit: fill;
}

.image-gallery-description {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vh;
  min-height: 20%;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.home-banner {
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  padding: 3rem 0;
  color: #666666;
}

.home-banner .dark-color-head {
  max-width: 60%;
  padding-top: 0.8rem;
  text-align: center;
  line-height: 2rem;
}

/* .slider-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
}

.slider-item-div {
  height: 50vh;
}

.carousel-style {
  height: 50vh !important;
} */

.slide {
  height: 50vh;
}

.card-container2 .slide {
  height: max-content;
  width: max-content;
}

.all-excerpt {
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
}

.all-excerpt a,
.all-excerpt a:hover {
  color: var(--darkg);
}

.carousel .slide {
  background-color: #ffffff;
}
