body {
}
.home2-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 1rem 0 1rem 0;
  /* border: 1px solid black; */
}
.home2-container {
}
.home2-heading {
}
.home2-cards {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  /* padding: 0rem 10rem 2rem 10rem; */
}
.home2-bottom > * {
  /* border: 1px solid black; */
  max-width: 45%;
  height: 20rem;
}
.home2-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.home2-cards > *:not(:first-child) {
  padding-left: 1rem;
}
@media only screen and (max-width: 650px) {
  .home2-cards {
    flex-direction: column;
  }
  .home2-cards > * {
    padding: 0 0 2rem 0 !important;
  }
  .home2-bottom {
    display: none;
  }
}
