body {
  /* background-color: #f7f7f7 !important; */
}
.home2-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 1rem 0 1rem 0;

  /* border: 1px solid black; */
}
.home2-container {
  max-width: 80vw;
  margin: auto;
}
.home2-heading {
}
.home2-cards {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  /* padding: 0rem 10rem 2rem 10rem; */
}
.home2-bottom > * {
  /* border: 1px solid black; */
  max-width: 45%;
  height: 20rem;
}
.home2-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.card-container {
  width: 30%;
}

.image-gallery-image {
  height: 50vh;
}

.image-gallery-slide .image-gallery-image {
  object-fit: fill;
}

.image-gallery-slide .image-gallery-description {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vh;
  min-height: 20%;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.home-banner {
  display: flex;
  align-items: center;
}

.home-banner .dark-color-head {
  max-width: 60%;
  padding-top: 0.8rem;
  text-align: center;
  line-height: 2rem;
}
