.ui.menu.mini.navbar-menu {
  border-radius: 0px;
  box-shadow: none;
}
.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  background-color: white;
  z-index: 10;
  width: 100%;
  max-width: 80vw;
  margin: auto !important;
}
.ui.dropdown.item.box {
  background-color: white;
  border-radius: 5px 5px 0 0;
  text-align: left;
}
.ui.link.menu .item.box:hover,
.ui.menu .dropdown.item.box:hover,
.ui.menu .link.item.ditem:hover,
.ui.menu a.item.box:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.95);
  background-color: #ef9797;
  text-align: left;
}
/* .ui.link.menu .item:active,
.ui.menu .dropdown.item.box:active,
.ui.menu .link.item.ditem:active,
.ui.menu a.item:active {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.95);
  background-color: #ef9797;
} */
.ui.menu .ui.dropdown.box .menu > .item:hover {
  background-color: #ef9797 !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
.ui.menu .active.item.box {
  background: #ef9797;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 400;
  box-shadow: none;
}
.ui.attached.item.menu:not(.tabular) {
  border: none;
}

.navbar-container {
  background-color: white;
  border-bottom: 2px #75c2be solid;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}
.above-menu {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  padding: 0.5rem 0 0.5rem 0;
}
.cond-icon {
  visibility: hidden;
}
@media only screen and (max-width: 800px) {
  .navbar-header {
    max-width: 95vw;
  }
  .navbar-menu {
    width: 100vw;
  }
  .ui.item.dropdown.box {
    max-width: 100vw;
    width: 100vw;
    border-radius: 0;
  }
  .cond-icon {
    visibility: visible;
    cursor: pointer;
  }
}
