.legend-box {
    border: .13rem solid #75C2BE;
    padding: 0.875rem;
    border-radius: .25rem;
    margin-bottom: 1.2rem;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.flex-container > div {
    text-align: left;
  }
.label {
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding: 4px;
    line-height: 1.75rem;
    letter-spacing: 0em;
    color: #666666;
}

.ui.label {
    color: #eeeeee;
    font-weight: 400;
    border: 0px solid transparent;
    border-radius: 0.25rem;
}

.ui.label.label-blue {
    background-color: #54A6F1;
}
.ui.label.label-red {
    background: #F56262;
}
.ui.label.label-green {
    background-color: #53D770;
}

.list {
    margin: 2rem 0rem;
}

@media only screen and (max-width: 650px) {
    .legend-box {
        border: 0px;
    }
    .flex-container {
        flex-direction: column;
    }
}
