@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  font-size: 15px;
}
body {
  /* max-width: 80vw;
  margin: auto !important; */
}
/* .layout-container {
  display: flex;
  flex-direction: column;
} */
